{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Category Details</h2>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ category.id }}</td>
                                </tr>
                                <tr>
                                    <th>Category Name</th>
                                    <td>{{ category.categoryName }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_category_index') }}" class="btn btn-secondary">Back to List</a>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
                <div class="mt-3">
                    {{ include('category/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
